---
import Layout from "../../components/layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props as { post: CollectionEntry<"blog"> };
---

<Layout title={post.data.title}>

  <section class="container blog-post">
    <h1>{post.data.title}</h1>

    <img src={post.data.image} alt={post.data.title} class="blog-post-image" />

    <article class="blog-body">
      {post.body}
    </article>

    <a href="/news" class="btn btn-secondary" style="margin-top:30px;">
      ← Back to News
    </a>
  </section>

</Layout>
